{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  {% if request.user.is_authenticated %}
    <p>Hello {{ request.user.username | title }}, you last logged in at
    {{ request.user.last_login }}</p>
  {% else %}
    <p>Hello guest!</p>
  {% endif %}

  <main>
    <h1>{{ books.count|apnumber|title }} book{{ books.count|pluralize }}</h1>
    {% for book in books %}
      <h2>{{ book.title | title }} by {{ book.list_authors }}</h2>
      {% if book.is_favourite %}
        <span class="highlight">favourite</span>
      {% endif %}
      <p>{{ book.review }}</p>
    {% endfor %}
  </main>
{% endblock %}
