{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Tutorials</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-vidth, inital-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <header>
      {% block logo %}{% endblock logo %}

      <div class="welcome">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'new-blog' %}">Create New Blog</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'user_registration' %}">Register Account</a></li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
          <p>Hello {{ request.user.username | title }}, you last logged in at
          {{ request.user.last_login }}</p>
        {% else %}
          <p>Hello guest!</p>
        {% endif %}
      </div>
    </header>

    {% block nav %}{% endblock nav %}

    <main>
    {% block content %}{% endblock content %}
    </main>

    <footer>
      <p>Django Tutorials</p>
    </footer>

  </div>

</body>
</html>
